.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
ddRADseqTools
test_md*
genome_data
*.log
*.bcf
*.run.xml
*.synctex.gz
*.RData
_paper/figs
_paper/*.log
_paper/*.bcf
_paper/*.aux
_paper/*.bbl
_paper/*.blg
_paper/*.run.xml